@font-face {
    font-family: "SakalBharati";
    src: url("fonts/SakalBharati.ttf");
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

body,
body * {
    font-family: serif;
    line-height: 1.5;
    font-size: 16px;
}

body {
    background: #B993D6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8CA6DB, #B993D6);
}

h1 {
    text-align: center;
    font-size: 28px;
    color: #ececec;
}

hr {
    border: 3px dotted #ececec;
    width: 95%;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

.container {
    padding: 10px 10px;
    width: 100%;
}

.input-box-container,
.output-box-container {
    margin: 5px auto;
}

.toolbar,
.translit-box {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
}

.toolbar {
    border-width: 1px 1px 0px;
    border-radius: 5px 5px 0 0;
    height: 40px;
    padding: 0 10px 0;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
}

.toolbar .tool {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 10px;
    background-color: #dadada;
    color: #636366;
    border-left: 2px solid #636363;
    border-right: 2px solid #636363;
    height: 100%;
    outline: none;
}

.scheme-selector {
    min-width: 100px;
}

.copy-to-clipboard {
    float: right;
    clear: both;
}

.translit-box {
    width: 100%;
    height: 150px;
    border-radius: 0 0 5px 5px;
    border-width: 0px 1px 1px;
    padding: 5px 10px;
    resize: none;
    font-size: 18px;
    box-shadow: inset 0 0 10px #ccc;
}

.icons {
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    overflow: hidden;
    text-indent: -9999px;
}

.icons.copy {
    background-image: url('images/copy-32.png');
}
